Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

In [ ]:
ordered_list = ["Python", "R", "SQL"]
ordered_list

['Python', 'R', 'SQL']

Some of the commonly used libraries used by Data Scientists include:

In [ ]:
ordered_list = ["Pandas", "Numpy", "Matplotlib"]

Create a markdown cell with a table of Data Science tools

In [ ]:
import pandas as pd

dict = {"Data Science Tools":ordered_list }
df = pd.DataFrame(dict)
print(df)

  Data Science Tools
0             Pandas
1              Numpy
2         Matplotlib

## Below are a few examples of evaluating arithmetic expressions in Python.

In [ ]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

Exercise 9 - Create a code cell to convert minutes to hours

In [ ]:
def minstohours(m):
    return m/60

#This will convert 200 minutes to hours by diving by 60
minstohours(200)

3.3333333333333335

Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**



*   Python
*   R
*   SQL
*   Java

Exercise 11 - Create a markdown cell to indicate the Author's name

Author: Geraint Chow